

<html>
<body>
<head>
  <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

      body {

          font-family: "Poppins", sans-serif;
          font-weight: 300;
      }

      .container {
          height: 100vh;
          margin-left: 30%;
      }

      .card {
          width: 380px;
          border: none;
          border-radius: 15px;
          padding: 8px;
          background-color: antiquewhite;
          position: relative;
          height: 370px
      }

      .upper {
          height: 100px
      }

      .upper img {
          width: 100%;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px
      }

      .user {
          position: relative
      }

      .profile img {
          height: 80px;
          width: 80px;
          margin-top: 2px
      }

      .profile {
          position: absolute;
          top: -50px;
          left: 38%;
          height: 90px;
          width: 90px;
          border: 3px solid #fff;
          border-radius: 50%
      }


      .stats span {
          font-size: 29px
      }
  </style>
</head>
 <div class="container d-flex justify-content-center align-items-center">
   <div class="card">
     <div class="upper"> <img src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid"> </div>
     <div class="user text-center">
       <div class="profile">
<!--         <img src="#" class="rounded-circle" width="80">-->
       </div>
     </div>
     <div class="mt-5 text-center">
       <h2 class="mb-0"><%= @patient.name %></h2>
       <span class="text-muted d-block mb-2"><%= @patient.email %> </span>
       <div class="d-flex justify-content-between align-items-center mt-4 px-4">
         <div class="stats">
           <h6 class="mb-0">CNIC</h6><span><%= @patient.cnic %></span>
         </div>
         <div class="stats">
           <h6 class="mb-0">Blood Group</h6> <span><%= @patient.blood_group %></span>
         </div>

       </div>
     </div>
   </div>
 </div>
</body>
</html>