<header>
  <div class="overlay">
    <h1>Health is Wealth</h1>
    <div id="container">

      <nav>
        <div id="logo">Jinnah Hospital</div>
        <ul>
          <li><%=link_to 'Doctors', doctors_path %></li>
          <li><%=link_to 'Appointments', appointments_path %></li>
          <li><a href="#">Contact</a></li>
          <li class="dropdown"><a href="#">Others &nbsp;<i class="fa fa-caret-down"></i> </a>

        </ul>
      </nav>
    </div>
  </div>
</header>



<script>
    /* font-family: 'Kaushan Script', cursive; */
    /* font-family: 'Pinyon Script', cursive; */
    /* font-family: 'Petit Formal Script', cursive; */
    /* font-family: 'Aguafina Script', cursive; */
    /* font-family: 'Rouge Script', cursive; */
    // font-family: 'Roboto', sans-serif;
</script>